.article-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.article-page-topic-label {
  display: inline-flex;
  padding: 6px;
  background-color: #ddb771;
  border-radius: 32px;
  color: #ffffff;
}

.article-page-title {
  font-size: 2rem;
}

.article-page-header {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.article-page-image {
  display: flex;
  margin: 20px auto;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.article-page-body {
  margin: 20px 0;
}

.article-page-comment-count {
  margin: 10px 5px;
  color: #555;
}

.vote-button {
  color: #ff6663;
  border: none;
  margin-bottom: 1rem;
  padding: 10px 20px;
  border-radius: 32px;
  cursor: pointer;
  outline: 2px solid #ff6663;
  background-color: transparent;
  transition: background-color 0.3s;
}

.vote-button.button-clicked {
  background-color: #ff6663;
  color: white;
}

.vote-button:hover {
  background-color: #ff6663;
  color: white;
}

.comment-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.comment-input-container.active .comment-input {
  height: 6rem;
  border-radius: 20px;
}

.comment-input {
  font-size: 1rem;
  height: 1.5rem;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 32px;
  padding: 15px;
  resize: none;
  transition: height 0.3s;
  overflow-wrap: break-word;
  overflow: hidden;
}

.comment-submit {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: #047787;
  color: #fff;
  border: none;
  padding: 0.5rem 20px;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comment-submit:hover {
  background-color: #92dce5;
}
