header {
  background-color: #073B3A;
  padding: 1rem;
  
}


.header-link {
  color: #ffffff;
  text-decoration: none;
}

.header-link h1 {
  font-weight: 500;
  font-style: normal;
}


.header-link:hover {
  color: #ddb771;
}