
header {
  display: flex;
  background-color: #073B3A;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}


.header-link {
  background-color: inherit;
  color: #ffffff;
  text-decoration: none;
}

.header-link h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}


.header-link:hover {
  color: rgb(149, 150, 219);
}