nav{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 16px;
  background-color: #0B6E4F;
}

.nav-link:hover {
  color: #ddb771;
}

.nav-link.active {
  background-color: #6BBF59;
  color: #073b3a;
}